@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
/* @import "./header_footer_events.css"; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  /*background: linear-gradient(to bottom right,rgb(8, 2, 22),#05032e); */
  background: url("../assets/events/eventbg.jpg") no-repeat;
  background-size: cover;
}

body {
  display: grid;
  place-items: center;

  position: relative
}

/* 
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
} */

.heading {
  font-family: 'Neucha', cursive;
  color: white;
  font-size: 40px;
  text-shadow: 0 0 5px #962AA4, 0 0 10px #7DA9F7,
    0 0 21px #F67EE1;
}

@media (max-width: 991px) {
  .heading {
    margin-top: 2.5rem;
  }

  .neon {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

@keyframes neon {

  0%,
  100% {
    text-shadow: 0 0 1vw #4984f0, 0 0 3vw #4984f0, 0 0 10vw #4984f0, 0 0 10vw #4984f0, 0 0 .4vw #2132f4, .5vw .5vw .1vw #b091d4;
    color: #6fb7dd;
  }

  50% {
    text-shadow: 0 0 .5vw #060538, 0 0 1.5vw #060538, 0 0 5vw #060538, 0 0 5vw #060538, 0 0 .2vw #060538, .5vw .5vw .1vw #40340A;
    color: #b091d4;
  }
}


.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  padding-top: 7rem;

  max-width: 1024px;
  /*   margin: 0 auto; */
  font-family: var(--font-sans);
}

.scrolled {
  background-color: #671b83da;
}

.navbar ul li p:hover {
  color: #faa3e9;
}

@media (max-width:600px) {
  .navContainer .navbar {
    background: #370963;
  }
}

@media screen and (max-width: 600px) {
  .navbar li {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  .page-content {
    margin-left: 150px;
    grid-template-columns: repeat(1, 1fr);
    /*     grid-template-columns: repeat(2, 1fr); */
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 890px) and (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 200px;
  }
}

@media (max-width: 1150px) and (min-width: 900px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 300px;
  text-align: center;
  margin-left: -150px;
  margin-right: 170px;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 900px) {
  .card {
    height: 590px;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://thumbs.dreamstime.com/z/adventure-treasure-hunt-vintage-map-compass-magnifier-94724350.jpg);
}

.card:nth-child(2):before {
  background-image: url(https://thumbs.dreamstime.com/z/escape-room-game-banner-old-vintage-key-padlock-blue-background-222055987.jpg);
}

.card:nth-child(3):before {
  background-image: url(https://t4.ftcdn.net/jpg/02/29/92/99/360_F_229929939_SPStIAqbggg0CVqZFrQYaj2ZebyGxAqF.jpg);
}

.card:nth-child(4):before {
  background-image: url(https://image.shutterstock.com/image-photo/tambola-coins-on-white-background-260nw-1953581821.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Corinthia', cursive;
  color: #ffffff;
}

.copy {
  font-family: 'Corinthia', cursive;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  color: #ffffff;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #532E98;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}

@media (max-width: 300px) {
  .card {
    width: 225px;
  }
}


/* changed code */

.events {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  width: 300px;
  margin: 3rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #d818e9af;
  position: relative;
  overflow: hidden;
}

.event img {
  width: 100%;
  height: 425px;
}

.event-info {
  color: rgba(255, 255, 255);
  display: flex;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 1rem 1rem; */
  /* letter-spacing: 0.5px; */
  text-align: center;
}

.event-info h3 {
  margin-top: 0;
}

/* .movie-info span {
  background-color: #C996CC;
  padding: 0.25rem 0.5rem;
  margin-top: 10px;
  border-radius: 3px;
  color: black;
  font-weight: bold;
} */

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #910aeb;
  color: #fff;
  font-weight: 400;
  padding: 1rem;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  font-weight: 500;
}

.event:hover .overview {
  transform: translateY(0);
}
.event-info{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
img{
  object-fit: cover;
}

/* button{
  margin:0;
  padding:0;
} */