html,body{
    overflow-x: hidden;

}
body{
background: url("../assets/registerbg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  image-rendering: auto;
}
.form{
    position: absolute;
   top:3rem;
   left:27%;
   overflow-x: hidden;
   
}
.formdisappear{
    visibility: hidden;
}
@media (max-width: 1300px )and (min-width:700px){
    .form{
       position: absolute;
       top:3rem;
     left:9%;
       width:100%;
       height:100%;
    }
   
}

@media (max-width: 700px){
    .form{
        position: absolute;
       top:3rem;
       left:4%;
       width:100%;
       height:100%;
    }
    iframe{
        width: 360px;
    }
}